html,body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: auto;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}


/*HEADER*/
header {
  width: 100%;
  background: var(--bgColor1);
  display: flex;
  flex-direction: row-reverse;
}

.fullNav {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: auto 0px;
}

#profileIcon {
  width: 7vh;
  min-width: 70px;
  height: 7vh;
  min-height: 70px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid var(--textColor1); 
  margin: 1vw;
}

#profileIcon img {
  width: 100%;
}

form {
  position: relative;
  height: 7vh;
  min-height: 70px;
  display: flex;
  margin: auto 0px auto 0px;
}

.logOutButton {
  display: block;
  border: none;
  background: none;
  height: 2em;
  margin: auto;
  color: var(--buttonColor);
}

.logOutButton:hover {
  
  text-decoration: underline;
}
 /*MAIN*/ 

main {
  position: fixed;
  z-index: -1;
  top:0;
  padding: calc(100px + 7vh) 0;
  display:grid;
  grid-template-columns:  1fr 4fr 1fr;
  grid-template-rows: 1f;
  height:100vh;
  width: 100vw;
  overflow: auto;
  color: var(--textColor1);
}

.editProfileContainer {
  overflow-y: auto;
  height: calc(93vh - 100px);
  width: 100%;
}
.formTitle {
  border-bottom: 2px solid var(--textColor1);
}

.formContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formContainer form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 20vw;
  height:min-content;
}