:root {
  --bgColor1:rgba(25, 130, 4, 1);
  --bgColor2:rgb(198, 242, 200);
  --textColor1:rgba(131, 196, 117, 1);
  --textColor2:rgb(57, 94, 52);
  --alertColor:rgba(255, 127, 0, 1);
  --successColor1:rgba(100,230,160,1);
  --successColor2:rgba(53, 169, 204,1);
  --buttonColor:rgb(56, 174, 81);
  --fontTitle:Arial;
  --fontParagraph:Arial;
}

* {
  line-height:1.6em;
  font-family: var(--fontParagraph);
  margin:0;
  padding: 0;
}

/* ********** HEADER ********** */
header {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 2em;
  background: var(--bgColor1);
  margin:0;
  padding: 0;
}

.mainHeader {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 0px;
  align-items: center;
  padding-right: 10vw;
}

.langCheckbox {
  float: right;
  width: 4em;
}

.langCheckbox select {
  background-color: inherit;
  color: var(--textColor2);
  font-size: 12pt;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

/* *********** OTHER ********** */
.errorMsg {
  color:var(--alertColor);
}

.textInput {
  border: none;
  height: 1.5em;
  font-size: 12pt;
  padding: 0.2em 0 0.2em 1em;
}

.submitButton {
  width: min-content;
  height: 2.5em;
  border: none;
  background: var(--successColor2);
  margin: 0px auto;
  padding: 0 1em;
}

.submitButton:hover {
  background: var(--successColor1);
}

.inlineInputContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
