:root {
  --bgColor1:rgba(250,250,250,1);
  --textColor1:rgba(10,10,10,1);
  --bgColor2:rgba(240,240,240,1);
  --textColor2:rgba(5,5,5,1);
  --alertColor:rgba(255, 127, 0, 1);
  --successColor1:rgba(100,230,160,1);
  --successColor2:rgba(53, 169, 204,1);
  --buttonColor:blue;
}
